<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ShortUrl</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body
    class="w-screen h-screen bg-[url(/static/bg.png)] bg-slate-900 bg-fixed bg-no-repeat bg-contain bg-center overflow-x-hidden"
  >
    <div
      class="relative w-full h-full bg-[url(/static/Cubes.png)] bg-fixed bg-contain bg-no-repeat bg-center"
    >
      <nav>
        <div
          class="relative flex flex-wrap justify-between items-center mx-auto pt-4 mb-[100px] max-w-screen-xl"
        >
          <h1 class="text-white font-bold text-[28px]">
            {% if "user" in session %} Hello {{user.username}}, {% endif %}
          </h1>
          <a class="absolute left-[50%] translate-[-50%] top-[60%]" href="/">
            <img class="w-[190px]" src="static/logo.png" />
          </a>
          <div>
            {% if "user" in session %}
            <a href="/logout">
              <button
                type="button"
                class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-1 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900"
              >
                Log Out
              </button>
            </a>
            {% else %}
            <a href="/login">
              <button
                class="relative inline-flex items-center justify-center p-0.5 mb-1 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
              >
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent"
                >
                  Log In
                </span>
              </button>
            </a>
            <a href="/register">
              <button
                class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"
              >
                <span
                  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent"
                >
                  Register
                </span>
              </button>
            </a>
            {% endif%}
          </div>
        </div>
      </nav>

      {% with messages=get_flashed_messages(with_categories=True) %} {% if
      messages %}
      <ul
        class="flashes absolute top-[17%] left-[50%] translate-[-50%] transition-all duration-300 z-100"
      >
        {% for category, message in messages %}
        <li>
          {% if category=="warning" %}
          <div
            id="toast-warning"
            class="flex items-center w-full max-w-xs p-4 rounded-lg dark:text-gray-400 backdrop-blur shadow-[0_0_10px_0_rgb(255,100,100)]"
            role="alert"
          >
            <div
              class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200"
            >
              <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"
                />
              </svg>
              <span class="sr-only">Warning icon</span>
            </div>
            <div class="ms-3 text-sm font-normal">{{message}}</div>
          </div>
          {% endif %} {% if category=="success" %}
          <div
            id="toast-success"
            class="flex items-center w-full max-w-xs p-4 rounded-lg dark:text-gray-400 backdrop-blur shadow-[0_0_10px_0_rgb(100,255,100)]"
            role="alert"
          >
            <div
              class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
            >
              <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                />
              </svg>
              <span class="sr-only">Check icon</span>
            </div>
            <div class="ms-3 text-sm font-normal">{{message}}</div>
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %} {% endblock content %}
    </div>

    <script>
      const flashMessages = document.querySelectorAll(".flashes li");
      flashMessages.forEach(function (message) {
        setTimeout(function () {
          message.style.display = "none";
        }, 4000);
      });
    </script>
  </body>
</html>
